* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgb(174, 238, 222) 50%,
      rgb(222, 171, 18) 75%
    );
  }
  
  h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
    color: darkblue;
  }
  
  .accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #21aeca;
  }
  
  .accordion-title:hover {
    background-color: #3ab4cc;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;

  }
  .accordion-title{
    margin-bottom: 1rem;
  }
  
  .accordion-content {
    background-color: #b4d8e0;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }